{% load static %}
<!--Category Carousel Showing all product types-->
<div id="carousel-products" class="carousel slide mt-3 ps-5 pe-5" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'images/banner_food.jpg' %}" class="d-block w-100 rounded" alt="First slide">
            <a href="{% url 'core:products_by_category' 'Food' %}">
                <button type="button" class="btn btn-default text-bg-info text-white position-absolute"
                style="bottom:3rem; right: 10rem; left: 10rem; ">
                    <b>Shop Food</b>
                </button>
            </a>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/banner_clothes.jpg' %}" class="d-block w-100 rounded" alt="Second slide">
            <a href="{% url 'core:products_by_category' 'Clothing' %}">
                <button type="button" class="btn btn-default text-bg-info text-white position-absolute"
                style="bottom:3rem; right: 10rem; left: 10rem; ">
                    <b>Shop Clothing</b>
                </button>
            </a>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/banner_tech.jpg' %}" class="d-block w-100 rounded" alt="Third slide">
            <a href="{% url 'core:products_by_category' 'Technology' %}">
                <button type="button" class="btn btn-default text-bg-info text-white position-absolute"
                style="bottom:3rem; right: 10rem; left: 10rem; ">
                    <b>Shop Technology</b>
                </button>
            </a>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-products" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel-products" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>