<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Speed-E-Sales</title>

    <!-- Halfmoon CSS -->
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@2.0.2/css/halfmoon.min.css" rel="stylesheet" integrity="sha256-RjeFzczeuZHCyS+Gvz+kleETzBF/o84ZRHukze/yv6o=" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

</head>
<body>
    <!-- Option 1: Bootstrap JS bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha256-CDOy6cOibCWEdsRiZuaHf8dSGGJRYuBGC+mjoJimHGw=" crossorigin="anonymous"></script>
 
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg text-bg-primary" style="background-color: var(--bs-content-bg); border-bottom: var(--bs-border-width) solid var(--bs-content-border-color);">
        <div class="container-fluid">
            <!--LOGO-->
            <a class="navbar-brand" href="#">
                <h1>
                    $peed-E-$ales
                </h1>
            </a>
            <!--Toggle Navbar (for small screens)-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-theme="dark" data-bs-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--Collapsable Elements-->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <h5>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Profile
                            </a>
                            <ul class="dropdown-menu mt-lg-2 text-bg-warning rounded-top-0">
                                <li><a class="dropdown-item" href="{% url 'userauths:registration_page' %}">Sign Up</a></li>
                                <li><a class="dropdown-item" href="{% url 'userauths:login_page' %}">Login</a></li>
                                <li><a class="dropdown-item" href="#">Orders</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="{% url 'userauths:sign-out' %}">Log out</a></li>                            </ul>
                        </li>
                    </h5>
                    <h5>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Cart<span class="count" id="cart-count"> ({{ request.user.cart.cartitem_set.count|default:0 }})</span> <!-- Count for cart --></a>
                        
                    </li>
                    </h5>
                    <!--Product Types-->
                    <h5>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Products
                            </a>
                            <ul class="dropdown-menu mt-lg-2 text-bg-warning rounded-top-0">
                                <li><a class="dropdown-item" href="#">Clothing</a></li>
                                <li><a class="dropdown-item" href="#">Food</a></li>
                                <li><a class="dropdown-item" href="#">Techonology</a></li>
                            </ul>
                        </li>
                    </h5>
                </ul>
                <!--Search Bar-->
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search items" aria-label="Search">
                    <button class="btn btn-primary text-bg-warning" type="submit">Search</button>
                </form>
          </div>
        </div>
    </nav>
    <!--Product Carousel-->
    <div id="carousel-products" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/banner_food.jpg' %}" class="d-block w-100" alt="First slide">
                <div class="carousel-caption">
                    <a href="#"><button type="button" class="btn btn-default text-bg-primary">Shop Food</button></a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/banner_clothes.jpg' %}" class="d-block w-100" alt="Second slide">
                <div class="carousel-caption">
                    <a href="#"><button type="button" class="btn btn-default text-bg-primary">Shop Clothing</button></a>
                </div>  
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/banner_tech.jpg' %}" class="d-block w-100" alt="Third slide">
                <div class="carousel-caption">
                    <a href="#"><button type="button" class="btn btn-default text-bg-primary">Shop Tech</button></a>
                </div>  
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-products" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-products" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!--Featured Products-->
    <div id="featrued-products" class="container align-items-c mt-5">
        <!--Food Feature-->
        <div class="row align-items-center justify-content-center">
            <img src="{% static 'images/oldtime.jpg' %}" class="col-12 col-md-6 rounded-5" alt="...">
            <div class="card col-12 col-md-6" >
                <div class="card-body">
                    <h5 class="card-title">Old timey phone</h5>
                    <p class="card-text">
                        Relive the good old days with this vintage rotary phone
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="mb-3">
                            <label for="example-select-1" class="form-label">Color:</label>
                            <select class="form-select" id="example-select-1">
                                <option selected>Select an option</option>
                                <option value="regular">Blue</option>
                                <option value="extra_toasted">Pink</option>
                            </select>
                        </div>
                    </li>
                <li class="list-group-item">
                    <div class="mb-3">
                        <label for="example-select-1" class="form-label">Quantity:</label>
                        <select class="form-select" id="example-select-1">
                            <option selected>Select an option</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">2</option>
                            <option value="5">3</option>
                        </select>
                    </div>
                </li>
                </ul>
                <div class="card-body">
                <a class="me-3" href="#"><button type="button" class="btn btn-default text-bg-warning">Add to Cart</button></a>
                <a href="#"><button type="button" class="btn btn-default text-bg-primary">See Details</button></a>

                </div>
            </div>
        </div>
          <!--Second food item-->
        <!--Food Feature-->
        <div class="row mt-5 align-items-center justify-content-center">
            <img src="{% static 'images/cheeze-crisp.jpg' %}" class="col-12 col-md-6 rounded-5" alt="...">
            <div class="card col-12 col-md-6" >
                <div class="card-body">
                    <h5 class="card-title">Cheeze Crisp</h5>
                    <p class="card-text">
                        Salty, cheesy, and crispy snack!
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="mb-3">
                            <label for="example-select-1" class="form-label">Flavor:</label>
                            <select class="form-select" id="example-select-1">
                                <option selected>Select an option</option>
                                <option value="regular">Regular</option>
                                <option value="extra_toasted">Extra Toasted</option>
                            </select>
                        </div>
                    </li>
                <li class="list-group-item">
                    <div class="mb-3">
                        <label for="example-select-1" class="form-label">Quantity:</label>
                        <select class="form-select" id="example-select-1">
                            <option selected>Select an option</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">2</option>
                            <option value="5">3</option>
                        </select>
                    </div>
                </li>
                </ul>
                <div class="card-body">
                <a class="me-3" href="#"><button type="button" class="btn btn-default text-bg-warning">Add to Cart</button></a>
                <a href="#"><button type="button" class="btn btn-default text-bg-primary">Shop Tech</button></a>

                </div>
            </div>
        </div>
    <footer class="footer text-bg-primary align-text-c">
            Thanks for visiting our shop!
    </footer>
</body>
</html>