{% extends 'core/base.html' %}
{% block content %}
{% load static %}

<!-- Featured Products -->
<div class="container">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <h1 class="text-center text-white mt-5">{{ category.title }}</h1> <!-- Dynamically render category title -->
    <div id="featured-products" class="container align-items-center mt-5">

        <!-- Products Container -->
        <div class="products-container">
            {% for product in products %}
            <div class="product-card">
                <div class="product-image">
                    <img src="{{ product.image.url }}" alt="{{ product.title }}">
                    {% if product.old_price and product.old_price > product.price %}
                    <div class="off-percentage">
                        -{{ product.discount_percentage }}%
                    </div>
                    {% endif %}
                </div>
                <div class="product-details">
                    <p class="category">{{ product.category.title }}</p>
                    <h3>{{ product.title }}</h3>
                    <p class="description">{{ product.description }}</p>
                    <div class="price-and-cart">
                        <p class="price">
                            <strong>${{ product.price }}</strong>
                            {% if product.old_price %}
                            <span class="old-price">${{ product.old_price }}</span>
                            {% endif %}
                        </p>

                    <!-- Add to Cart form -->
                    <form>
                        <!-- Quantity Form -->
                        <div data-mdb-input-init class="form-outline" style="width:em; padding:15px;">
                            <label class="form-label" for="quantityInput">Quantity:</label>
                            <input id="qty-{{product.id}}" step="1" value="1" min="1" type="number" class="form-control"/>
                        </div>
                        <!-- Other form-->
                        <div data-mdb-input-init class="form-outline" style="width:em;  padding:15px;">
                            <label class="form-label" for="otherInput">OTHER PARAM:</label>
                            <input id="otherInput" step="1" value="1" min="0" type="number" class="form-control"/>
                        </div>
                        <div class="card-body">
                            <!-- Add to cart-->
                            <button type="button" value="{{product.id}}" data-index="{{product.id}}"class="btn btn-warning add-to-cart">
                                Add to Cart
                            </button>
                            <a href="#" style="text-decoration: none;"><button type="button" class="btn btn-primary add-to-cart">
                                See Details
                            </button></a>
                    </div>
                    </form>


                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

<!-- js/ajax to deal with button -->
<script>
    //look for button
    $(document).on('click','.add-to-cart', function(inp){
        inp.preventDefault();
        const productId = $(this).data('index');
        const qty = $(`#qty-${productId}`).val();
        console.log( productId)
        $.ajax({
            type: 'POST',
            url: "{% url 'cart:add_to_cart' %}",
            data: {
                id: productId,
                qty:  qty,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            
            success: function(json){
                console.log('Added: ', productId)
                document.getElementById('cart-count').textContent = '(' + json.qty + ')'

                //Success badge
                document.getElementById('cart-badge').textContent = "Item added to cart."
                $('#cart-badge').addClass('show');
                $('#cart-badge').addClass('alert-success');
                // Hide after 5 seconds
                setTimeout(function () {
                    $('#cart-badge').removeClass('show');
                    $('#cart-badge').removeClass('alert-success');
                }, 5000);
            },

            error: function(){
                console.log("Error adding to cart")

                //error badge
                document.getElementById('cart-badge').textContent = "Unable to add item to cart."
                $('#cart-badge').addClass('show');
                $('#cart-badge').addClass('alert-danger');
                // Hide after 5 seconds
                setTimeout(function () {
                    $('#cart-badge').removeClass('show');
                    $('#cart-badge').removeClass('alert-danger');
                }, 5000);
            }
        });
    });
</script>

{% endblock %}