<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/sign-up.css' %}">
</head>
<body>

<div class="form-container">
    {% if form.errors %}
    <div class="aler-message">
        <strong> {{form.errors}}</strong>
    </div>
    {% endif %}

    <h2>Sign Up</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{form.username}}
        </div>
        <div class="form-group">
            {{form.email}}
        </div>
        <div class="form-group">
            {{form.password1}}
        </div>
        <div class="form-group">
            {{form.password2}}
        </div>        
        <button type="submit" class="submit-btn">Register</button>
    </form>
    
    <div class="existing-user">
        <p>Already a user? <a href="{% url 'userauths:login_page' %}">Sign in</a></p>
    </div>
</div>

</body>
</html>
